{% extends "blog/blogbase.html" %}

{% block title %}index{% endblock %}

{% block section2 %}
<div class="w3-container">
  <h1>Recent Job and Education Events
    <span class="w3-right">
      <a href="{{ url_for('blog.addevent') }}" class="w3-button w3-tiny">Add</a>
      <a href="#" class="w3-button w3-tiny">Manage</a>
    </span>
  </h1>

  <div class="w3-card-4">
    <header class="w3-container w3-light-grey">
      <h3>John Doe</h3>
    </header>
    <div class="w3-container">
        <p>Bangladesh Army</p>
        <hr>
        <p>information about event</p><br>
    </div>
    <button class="w3-button w3-block w3-dark-grey">+ Connect</button>
    </div><br>
</div>



{% endblock %}
